body{
  overflow-x: hidden;
  padding-top: 150px;
}

.slide{
  margin-top: 51px;
  padding: 0;
} 

.slide3{
  margin-top: 100px;
  padding: 40px;
}

.slide img{
  background-position: center;
  width: 100%;
  height: 500px;
}

.slide2{
  margin-top: 20px;
  padding: 0;
} 

.margin{margin-top: 100px}

.carousel-cell {
  width: 100%;
  counter-increment: carousel-cell;

}

.column{padding: 0px 25px 0px 25px;}

.page-header{
  font-style: italic;
  color: red;
  margin: 15px 0px 20px;
}

.center-block{text-align: center;}

.login{margin-top: 50px;}
.login2{margin-top: 50px;height: 830px}
.login3{height: 830px}

.alert{margin-top: 40px;}

.form-group{margin-bottom: 30px;}
label{margin-top: 5px}
.form-control{border-radius: 4px}
.btn-info{margin-right: 10px}
.button{height: 48px}
.admin_name,h4{color: red;font-family: gabriola;font-size: 60px}
/*.form{margin-bottom: 30px}*/

.logo img {
  width: 500px;
  height: auto;
}

.navbar-nav {
  display: flex;
  justify-content: space-around;  /* Distribute items evenly with space around them */
}

.navbar-flex-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar-section {
  display: flex;
  align-items: center;
}

.navbar-header {
  display: flex;
  justify-content: center;
  flex-grow: 0;
  max-width: 200px;  /* Adjust as needed */
}

.navbar-brand {
  font-size: 14px;  /* Adjust as needed */
}

.navbar .nav > li > a {
  color: #ffffff;  /* Change the text color */
  font-size: 18px;  /* Change the font size */
  padding: 10px 10px;  /* Change the padding */
  margin: 5px;
}

.navbar .nav > li > a:hover {
  background-color: #ffffff;  /* Change the background color on hover */
  color: #000000;  /* Change the text color on hover */
  border-radius: 5px;
}

.unique-class .navbar .nav > li > a {
  padding: 10px 5px;  /* Reduce the horizontal padding */
  margin: 5px 2px;  /* Reduce the horizontal margin */
}

.unique-class .navbar-section:first-child {
    max-width: 200px;  /* Adjust as needed */
}

.navbar-flex-container .navbar-section:first-child {
  flex-grow: 0;  /* Prevent the section from growing beyond its content size */
  padding: 0;  /* Remove padding */
  margin: 0;  /* Remove margin */
}

.nav-item {
  flex-grow: 1;  /* Allow the items to grow and take up remaining space */
  text-align: center;  /* Center the text within the items */
  white-space: nowrap;
}

.pagination {
  text-align: center;
  padding: 20px 0;
}

.pagination a {
  color: #5a5a5a;
  text-decoration: none;
  margin: 0 10px;
  padding: 5px 10px;
  border: 1px solid #ddd;
  transition: background-color .3s;
}

.pagination a:hover {
  background-color: #ddd;
}